html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}
.App {
  text-align: center;
  height: 100vh;
}

p {
  font-size: large;
}

section {
  box-sizing: border-box;
  position: relative;
  width: 85%;
  margin-left: 7.5%;
  overflow: hidden;
  background: rgb(190, 190, 190);
}
.section-header {
  text-align: center;
  position: relative;
  margin: 30px 0;
}
.section-header:after {
  content: '';
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #f39c12;
  left: 50%;
  margin-left: -30px;
}

@media (max-width: 696px) {
  section {
    width: 100vw;
    margin-left: 0;
  }
}
